/* Apply general styling to the body */
body {
    margin: 0;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
}

/* Style the container for the converter */
.converter-container {
    margin-top: 20px;
    padding: 30px; /* Increased padding */
    background: linear-gradient(135deg, #F2C449, #F2D243);
    border-radius: 20px; /* Border radius applied */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Include padding and border in the width */
    width: calc(100% - 0px); /* 30px padding on each side */
}


/* Style the headings */
.converter-container h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #333;
}

/* Style the labels */
.converter-container label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #555;
}

/* Style the input fields and select dropdowns */
.converter-container input[type="text"],
.converter-container select {
    width: calc(100% - 24px); /* Adjusted width */
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    background-color: #f9f9f9;
    font-size: 1.2rem;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style the conversion button */
.converter-container button {
    background-color: #264fc9;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto; /* Centered */
}


/* Style the result */
.converter-container .result {
    margin-top: 20px;
    font-size: 1.4rem;
    color: #333;
}

.result-container {
    margin-top: 20px;
    padding: 30px; /* Increased padding */
    background: linear-gradient(135deg, #F2C449, #F2D243);
    border-radius: 20px; /* Border radius applied */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Include padding and border in the width */
    width: calc(100% - 0px); /* 30px padding on each side */
}

.result {
    font-size: 35px;
    font-weight: bold;
}
