.font-face-gm {
  font-family: "testFont";
}

body {
  margin: 0;
  padding: 0;
  font-family: testFont;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  
}

.profile-container {
  text-align: center;
  margin-top: 0px;
  overflow: hidden;
  font-family: 'DM Serif Display', serif;
}

.square-grid {
  display: grid;
  color: #4B534A;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 10px;
  margin-top: 10px;
}

.square {
  width: calc(100% - 6px);
  padding-top: 100%;
  background-color: #def294;
  border-radius: 20px;
  position: relative;
  border: 3px solid #def294;
}


.mini-square {
  left: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  right: 5px;
  z-index: 1;
  border-radius: 15px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.rectangle {
  width: calc(100% - 6px);
  height: 50px;
  background-color: #FE6465;
  border-radius: 20px;
  display: flex;
  align-items: center;
  outline: #222;
  border: 3px solid #222;
}

.rectangle h2 {
  text-align: left;
  padding-left: 20px;
  margin: 0;
  font-size: 20px;
  color: #4B534A;
}

.rectangle-grid .rectangle h2 {
  margin: 0;
  text-align: left;
}

.rectangle-grid {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 5px;
}

.big-rectangle {
  width: calc(100% - 26px);
  height: 80px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #f2b885;
  color: #4B534A;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin-bottom: 80px;
  
}

.option-text {
  position: absolute;
  bottom: 50px;
  left: 15px;
  font-size: 24px;
  color: #222;
}

.counter {
  width: calc(100% - 25px);
  height: 10px;
  background-color: #53a687;
  border-radius: 20px;
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
 color: #fff;
  margin-bottom: -5px;
  margin-top: 15px;
}

.counter h2 {
  font-size: 16px;
}

.counter span {
  font-weight: bold;
}

.rectangle-profile {
  width: calc(100% - 25px);
  height: 95px;
  background-color: #def294;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;

  margin-top: -15px;
  position: relative;
}

.small-square {
  width: 200px;
  height: 65%;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translate(-50%, -50%);
 
  border-radius: 0 20px 20px 0;
  overflow: hidden;
}

.pfp-square {
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translate(-50%, -50%);
 
  border-radius: 20px;
  overflow: hidden;
}

.pfp-square img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.square-icon{
  background-color: #fff;
  color: #53a687;
}

.login-container {
  text-align: center;
  margin-top: 0px;
  overflow: hidden;
  font-family: 'DM Serif Display', serif;
  background-image: linear-gradient(to bottom, #53a687, #def294);
  height: 1000px;
  
}

.login-rectangle input {
  margin-right: 20px ;
  flex: 1; /* Takes up remaining space */
}

.login-rectangle{
  width: calc(100% - 6px);
  height: 50px;
  background-color: #b1d261;
  border-radius: 20px;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
}
.login-rectangle h2 {
  padding: 10px;
  margin-right: 10px; /* Adjust as needed */
  width: 120px; /* Adjust width of label as needed */
}

.login-button, .create-button{
  width: calc(100% - 26px);
  height: 80px;
  margin-top: 10px;
  margin-left: 13px;
  background-color: #def294;
  color: #4B534A;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: 10px solid  #def294;
  margin-bottom: 10px;
  font-size: x-large;
  font-family: 'DM Serif Display', serif;
  font-weight: bold;
  
}