@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.home-container {
  text-align: center;
  margin-top: 0px;
  font-family: 'DM Serif Display', serif;
  letter-spacing: 2px;
  overflow-x: hidden; 

}

.boxes-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 10px;
  font-weight: 580;
} 

.box1,
.box2 {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 50%;
  height: 140px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #ddf193;
  
 
}

.box1 {
  margin-right: 10px;
  
}

.rectangle h2 {
  text-align: left;
  padding-left: 20px;
  margin: 0;
  font-size: 20px;
  color: #222;
}

.rectangle-grid .rectangle h2 {
  margin: 0;
  text-align: left;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: calc(100% - 40px); 
  max-width: 400px; 
  height: 160px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
  background-color: #53a687;
}

.check-icon,
.close{
    
    background-color: #c1d96c;
    color: #4B534A;
    padding: 10px;
    border-radius: 10px;

}


.rectangle-grid {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 5px;
}
.profile-img{
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  position: absolute;
  top: 75px;
  right: -25px;
  transform: translate(-50%, -50%);
  color:#c0d86c;
  border: solid 3px;
  border-radius: 20px;
  overflow: hidden;
}

.cover-rectangle {
  height: 355px;
  background-image: url('../../assets/Granny.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
}

.add-icon {
  max-width: 50px;
  max-height: 50px;
}

.book-rectangle {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 150px;
  background-color: #ddf193;
  width: calc(100% - 20px);
  border-radius: 20px;
  margin-left: 10px;
}

.nested-rectangle {
 
  font-size: 24px;
  font-weight: bold;
  border-radius: 20px 20px 0 0;
  padding: 10px;
}

.add-icon-book {
  max-width: 70px;
  max-height: 70px;
  padding: 20px;
}


