@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden; /* Hides the horizontal scrollbar */

  overflow-y: scroll; /* Allows vertical scrolling */
background-color: #FFD581;
}


.home-container {
  text-align: center;
  margin-top: 0px; 
  overflow: hidden;
  font-family: 'DM Serif Display', serif;
}
.square-home {
  width: calc(100% ); /* Adjusted width to accommodate border */
  height: 0px; /* Adjust the height as needed */
  padding-top: 65%; /* Adjust the padding-top to make the element smaller */
  border-radius: 40px;
  position: relative;
  border: none;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a small drop shadow */

}

.square-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; /* Center text horizontally */
}




.square-image {
  max-width: 70%; /* Ensure image doesn't exceed square's width */
  max-height: 70%; /* Ensure image doesn't exceed square's height */
  object-fit: contain; /* Ensure the entire image fits within the square */
  border-radius: inherit; /* Inherit border-radius from parent */

}




.rectangle h2 {
  text-align: left;
  padding-left: 20px;
  margin: 0;
  font-size: 20px;
  color: #222;
}

.rectangle-grid .rectangle h2 {
  margin: 0;
  text-align: left;
}

.rectangle-grid {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 5px;
}





.cover-rectangle {
  left: 0;
  right: 0;
  height: 200px;
  display: flex;
  justify-content: center; /* Center the contents horizontally */
  align-items: center; /* Center the contents vertically */
  background-color: #00000089;
  padding: 30px;
  border-radius: 40px;
  z-index: 0;
  margin: 0 10px;
  margin-bottom: 10px;
  color: white;
  background-size:cover; /* Make the background image cover the entire div */
  background-position: center; /* Center the background image horizontally and vertically */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a small drop shadow */

}
.randomText{
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.AddBook, .goScan{
  left: 0;
  right: 0;
  display: flex;
  justify-content: center; /* Center the contents horizontally */
  align-items: center; /* Center the contents vertically */
  background-color: #fff;
  padding: 30px;
  border-radius: 40px;
  z-index: 0;
  margin: 0 10px;
  color: white;
  background-size: cover; /* Make the background image cover the entire div */
  background-position: center; /* Center the background image horizontally and vertically */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a small drop shadow */

}


.add-icon {
  max-width: 50px; /* Ensure the icon fits within the container */
  max-height: 50px; /* Ensure the icon fits within the container */
}


.goScan{
  left: 0;
  right: 0;
  display: flex;
  justify-content: center; /* Center the contents horizontally */
  align-items: center; /* Center the contents vertically */
  background-color: #fff;
  padding: 30px;
  border-radius: 40px;
  z-index: 0;
  margin: 10px 10px;
  color: white;
  background-size: cover; /* Make the background image cover the entire div */
  background-position: center; /* Center the background image horizontally and vertically */
}