

body {
  margin: 0;
  padding: 0;
  font-family: 'TestFont', sans-serif;
    height: 100vh; /* Set the height to 100% of the viewport height */
    overflow: hidden;

}


.home-container {
  text-align: center;
  margin-top: 0px; /* Adjust this value to move the text higher up */
  overflow: hidden;
}


.square-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Change to 2 columns */
  gap: 10px;
  margin: 10px;
}

.square {
  
  width: 100%;
  padding-top: 100%; /* This ensures a perfect square */
  background-color: #ccc;
  border-radius: 20px;
  background-color: #222;
  position: relative;

}

.mini-square {
  left: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255); /* Change color as desired */
  position: absolute;
  right: 5px; /* Adjust positioning as needed */
  z-index: 1; /* Ensure mini squares are above the larger squares */
  border-radius: 15px;
  font-size: 20px;
  /* Centering */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}


.rectangle {
  width: 100%; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  background-color: #222;
  border-radius: 10px; /* Rounded corners */
  display: flex;
  align-items: center;
}

.rectangle h2 {
  text-align: left; /* Align text to the left */
  padding-left: 20px;
  margin: 0; /* Remove default margin */
  font-size: 20px;
  color: white;
}

.rectangle-grid .rectangle h2 {
  margin: 0; /* Remove default margin */
  text-align: left; /* Align text to the left */
}


.rectangle-grid {
  margin: 10px;
  display: flex;
  justify-content: center; /* Center the rectangles horizontally */
  align-items: center; /* Center the rectangles vertically */
  flex-direction: column; /* Stack rectangles vertically */
  margin-top: 20px; /* Adjust margin between button and rectangles */
}

.big-rectangle {
  width: calc(100% - 20px); /* Adjusted width with margins on both sides */
  height: 200px; /* Adjust height as needed */
  margin-top: 10px; /* Add margin from the top */
  margin-left: 10px; /* Add margin on the left side */
  background-color: #222; /* Change color as desired */
  color: white;
  /* Centering */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  border-radius: 25px;
  /* Glowing effect */
}
