.coverImg{
    width: calc(100% - 20px);
    height: 100%;
    object-fit:fill; 
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    max-width: auto; 
    max-height: 260px; 
    min-width: 277px;
}

.undertitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    font-weight: bold;
}