.font-face-gm {
    font-family: "testFont";
}



.myBooks-container {
    text-align: center;
    margin-top: 0px;
    overflow: hidden;
    font-family: 'DM Serif Display', serif;
}

.square-button {
    position: fixed;
    bottom: 100px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 25%;
    background: linear-gradient(135deg, #F2C449, #F2D243);
    color: white;
    font-size: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle-card {
    position: relative;
    width: 100%;
    height: 180px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    z-index: 0;
}

.edit-icon {
    position: absolute;
    top: 15px;
    right: 50px;
    color: #222;
    cursor: pointer;
    transition: color 0.3s;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.417);
    padding: 5px;
    border-radius: 10px;
}

.delete-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #222;
    cursor: pointer;
    transition: color 0.3s;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.417);
    padding: 5px;
    border-radius: 10px;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 40px);
    max-width: 400px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(135deg, #F2C449, #F2D243);
}

.check-icon {
    padding: 10px;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.close {
    padding: 10px;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.847);
    z-index: 999;
    display: none;
}

.modal-overlay.show {
    display: block;
}

.rectangle-card span {
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    top: 35px;
    left: 20px;
}
