/* General styles */
.font-face-gm {
  font-family: "testFont";
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
}

.scan-container {
  text-align: center;
  margin-top: 0px;
  font-family: 'DM Serif Display', serif;
  overflow-x: hidden;
  padding-bottom: 200px;


  
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center text horizontally within the container */
  width: 100%;
}

.icon-text {
  width: calc(100% - 55px); /* Adjust width to accommodate padding */
  padding: 15px; /* Adjust padding to create spacing around the text */
  font-size: 24px;
  background-color: #fff;
  margin-bottom: 10px;
  color: #222;
  border-radius: 20px;
  border: 3px solid #222;
  cursor: pointer;
  font-weight: bold;
}


.icon-text:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}


.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust as needed */
  margin-bottom: 20px; /* Adjust as needed */
  padding-top: 50px; /* Adjust the padding-top value as needed */
  
}

.image-container img {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  height: auto; /* Maintain aspect ratio */
  border: 3px solid #222;
  border-radius: 20px;

}
