body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
      height: 100vh; /* Set the height to 100% of the viewport height */
  
  }
  
  .setting-container {
    text-align: center;
    margin-top: 50px;
  
  }
  
  
  
  .square-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Change to 2 columns */
    gap: 10px;
    margin: 10px;
  }
  
  .square {
    
    width: 100%;
    padding-top: 100%; /* This ensures a perfect square */
    background-color: #ccc;
    border-radius: 20px;
    background-color: #222;
  
  }
  
  
  
  .rectangle {
    width: 100%; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    background-color: #222;
    border-radius: 10px; /* Rounded corners */
    display: flex;
    align-items: center;
  }
  
  .rectangle h2 {
    text-align: left; /* Align text to the left */
    padding-left: 20px;
    margin: 0; /* Remove default margin */
    font-size: 20px;
    color: white;
  }
  
  .rectangle-grid .rectangle h2 {
    margin: 0; /* Remove default margin */
    text-align: left; /* Align text to the left */
  }
  
  
  .rectangle-grid {
    margin: 10px;
    display: flex;
    justify-content: center; /* Center the rectangles horizontally */
    align-items: center; /* Center the rectangles vertically */
    flex-direction: column; /* Stack rectangles vertically */
    margin-top: 20px; /* Adjust margin between button and rectangles */
  }
  