
.sticker-menu {
  display: flex;
  justify-content: center;
  background-color: #99B952 ;
  border-radius: 10px;
  margin: 10px;
  bottom: 130px;
  position: fixed;
  left: 58px;

}

.toggle-menu {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  width: 55px;
  height: 30px;
  margin: 0 auto; /* Automatically center within parent container */
  position: fixed;
  bottom: 148px;
  left: 0px;
  animation: ease-in;
  z-index: -1;
  
}

.toggle-menu:hover {
  background-color: #dcdcdc;
}

.sticker-icon {
  font-size: 30px;
  color: #333;
  background-color: #99b952;
padding: 7px;
border-radius: 10px;

}



.sticker-item {
padding: 5px;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  

}

.sticker-item:hover {
  transform: scale(1.1);
}



.selected-sticker img {
  width: 50px;
  height: 50px;
  margin-top: 0;

}
.selected-sticker {
  position: fixed;
  position: absolute;
  border: 2px dashed #ccc;
  margin-top: 20px;
  z-index: -1; /* Ensure it appears above other elements */
  bottom: 200px;
}

/* Example media query for smaller devices */
@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .selected-stickers-container {
    /* Example: Adjust container width or overflow */
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
  }

}