.sticker-menu {
  display: flex;
  justify-content: center;
  background-color: #99B952;
  border-radius: 10px;
  margin: 10px;
  bottom: 130px;
  position: fixed;
  left: 58px;
  z-index: -1;
}

.toggle-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 30px;
  margin: 0 auto;
  position: fixed;
  bottom: 148px;
  left: 0px;
  animation: ease-in;
  z-index: -1;

}

.toggle-menu:hover {
  background-color: #dcdcdc;
}

.sticker-icon {
  font-size: 30px;
  color: #333;
  background-color: #99b952;
  padding: 7px;
  border-radius: 10px;

}

.sticker-item {
  padding: 5px;
  width: 35px;
  height: 35px;
  border-radius: 10px;

}

.sticker-item:hover {
  transform: scale(1.1);
}

.selected-sticker img {
  width: 50px;
  height: 50px;
  margin-top: 0;
  border-radius: 5px;
}

.selected-sticker {
  position: fixed;
  position: absolute;
  margin-top: 20px;
  z-index: -1;
  bottom: 200px;
}


@media (max-width: 768px) {
  .selected-stickers-container {
    width: 100%;
    overflow-x: auto;
  }
}

.delete-icon-edit {
  padding: 5px;
  position: absolute;
  bottom: 5px;
  left: 55px;
  border-radius: 50px;
  font-size: 10px;
  background-color: #ff4d4f;
  color: #fff;
  border-radius: 5px;
}